<html>
    <head>
        <title>Informatii despre examene</title>
    </head>
    <body>
        <div>
            <h1> Informatii despre examene</h1>

        <h2> Bine ati venit! </h2>
        </div>
    {% for forum in forums %}
        <div>

            <h1><a href="{% url "students_platform.views.post_list" forum_name=forum.title %}">{{ forum.title }}</a></h1>

        </div>
    {% endfor %}

      {% for p in posts %}
      <div>
        <h3><a href=""> {{ p.title}} </a></h3>
        <p> post.author </p>
      </div>
      {% endfor %}

    </body>
</html>
